.env


#just in case
__pycache__/
dags/__pycache__/
.pytest_cache/
.venv/
logs/
pg_data/
dags/logs
fifa_world_cup_pipeline.git/
fifa_world_cup_pipeline.git.bfg-report/
bfg.jar
transformation/target/
transformation/dbt_packages/
transformation/logs/
